# Ignore 
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.venv/
dist/
build/
*.egg-info/
*.pkg
pkg-build/
*.spec
*.tmp
*.temp
*.swp
*.swo
*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.env
.env.local
.env.*.local
tmux/plugins/
raycast
fzf
history.txt